body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

* {
    font-family: Roboto, 'sans-serif';
}

$color: rgba(0, 0, 0, 0.8);
$hover: rgba(0, 0, 0, 0.6);

.grils {
    display: flex;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    margin-bottom: 16px;

    &.show {
        opacity: 1;
    }

    a {
        display: block;
        color: $color;
        margin: 4px;
        text-decoration: none;
        border-bottom: 3px solid $color;
        padding: 8px 4px;
        pointer: cursor;

        &[disabled] {
            pointer-events: none;
        }

        &:not([disabled]):hover {
            color: $hover;
            border-bottom-color: $hover;
        }
    }
}

canvas {
    opacity: 0;
    transition: opacity 2s ease-in-out;

    &.show {
        opacity: 1;
    }
}

.interactions {
    opacity: 0;
    transition: opacity 0.5s linear;
    display: flex;
    flex-direction: row;
    align-items: center;

    * {
        margin: 16px 8px;
    }

    button {
        border: none;
        background: none;
        border-radius: 2px;
        font-size: 12px;
        height: 20px;
        background: #e0e0e0;
        cursor: pointer;

        &[disabled] {
            pointer-events: none;
        }

        &:not([disabled]):hover {
            background: #d0d0d0;
        }
    }

    &.show {
        opacity: 1;
    }
}