$gril-color: (
    active: rgba(0, 0, 0, 1),
    base: rgba(0, 0, 0, 0.6),
    hover: rgba(0, 0, 0, 0.7),
    disabled: rgba(0, 0, 0, 0.3)
);

@mixin gril-color($state) {
    $color: map-get($gril-color, $state);
    color: $color;
    border-bottom-color: $color;
}

@mixin fade-container($duration) {
    opacity: 0;
    transition: opacity $duration ease-in-out;

    &.show {
        opacity: 1;
    }
}

* {
    font-family: Roboto, 'sans-serif';
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

canvas {
    @include fade-container(2s);
    height: calc(100vh - 112px);
}

a, button {
    transition: all 0.3s ease-in-out;
    background: none;
    border: none;
    font-size: 12px;
    cursor: pointer;

    &[disabled],
    &.active {
        pointer-events: none;
    }
}

.grils,
.interactions {
    @include fade-container(0.5s);
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 46px;
}

.grils {
    margin-bottom: 16px;

    a, button {
        text-decoration: none;
        @include gril-color('base');
        margin: 4px;
        border-bottom: 3px solid;
        padding: 8px 4px;

        &[disabled] {
            @include gril-color('disabled');
        }

        &.active {
            @include gril-color('active');
        }

        &:not([disabled]):hover {
            @include gril-color('hover');
        }
    }
}

.interactions {
    * {
        margin: 16px 8px;
    }

    button {
        border-radius: 2px;
        height: 20px;
        background: #e0e0e0;

        &:not([disabled]):hover {
            background: #d0d0d0;
        }
    }
}